<div class="user-nav-bar d-flex justify-content-around align-items-center">
  <div class= "icon-color" data-bs-toggle="modal" data-bs-target="#emergencyModal">
    <%= image_tag "white_icon/emergency_call_01.png" %>
  </div>
  <div class= "icon-color">
    <%= link_to(locations_path(:location_type => 'ngo')) do %>
      <%= image_tag "white_icon/ngo-white.png" %>
    <% end %>
  </div>
  <div class= "icon-color">
    <%= link_to(locations_path(:location_type => 'shelter')) do %>
      <%= image_tag "white_icon/shelter.png" %>
    <% end %>
  </div>
  <!-- NEW HERE -->
  <% if user_signed_in? %>
    <li class="nav-item dropdown icon-color">
      <%= image_tag ("white_icon/profile.png"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Add a Location", new_location_path, class: "dropdown-item" %>
        <%= link_to "My locations", users_locations_path, class: "dropdown-item" %>
        <%= link_to "My contributions", users_contributions_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  <% else %>
    <div class= "icon-color">
      <%= link_to new_user_session_path do %>
        <%= image_tag "white_icon/profile.png" %>
      <% end %>
    <% end %>
  </div>
</div>
