<div class="user-nav-bar d-flex justify-content-around align-items-center">
  <div class= "icon-color">
    <%= link_to image_tag("white_icon/emergency_call_01") %>
  </div>
  <div class= "icon-color">
    <%= link_to image_tag("white_icon/add_contribution_02.png"), new_location_path %>
  </div>
  <div class= "icon-color">
    <%= link_to image_tag("white_icon/shelter.png"), locations_path %>
  </div>
  <!-- NEW HERE -->
  <% if user_signed_in? %>
    <li class="nav-item dropdown icon-color">
      <%= image_tag ("white_icon/profile"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Action", "#", class: "dropdown-item" %>
        <%= link_to "My contributions", users_contributions_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  <% else %>
    <div class= "icon-color">
      <%= link_to image_tag("white_icon/profile.png"), new_user_session_path %>
    <% end %>
  </div>
</div>
