<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <%= simple_form_for :search, url: locations_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <div class="searchbar container d-flex align-items-center">
  <div>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag asset_path('icon-brand.png') %>
    <% end %>
  </div>
    <div>
      <%= f.input :search, collection: [:Food, :Water, :First_Aid, :Address, :Shelter] %>
    </div>
    <div class="mx-3">
      <%= f.submit "Search", class: "btn btn-gradient" %>
      </div>
    </div>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
</div>
