<div class="background-photo d-inline-flex justify-content-center align-items-center">
  <div class="row">
    <div class="d-flex justify-content-center mt-2">
      <div class="home-image">
        <%= link_to root_path, class: "d-flex" do %>
          <%= image_tag "traq_logo.png" %>
        <% end %>
        <div class="row">
          <div class="d-flex justify-content-center mt-2">
            <h1>Seek Help & Shelter</h1>
            </div>
            <div class="btn-flat-dark">
              <div class="row">
              <%= link_to locations_path(:Water), class: "btn-flat-dark" do %>
            <%= image_tag "white_icon/bottled_water.png" %>
                <% end %>
                    <%= link_to locations_path, class: "btn-flat-dark" do %>
            <%= image_tag "white_icon/food.png" %>
                <% end %>
                    <%= link_to locations_path, class: "btn-flat-dark" do %>
            <%= image_tag "white_icon/medical.png" %>
                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
