<div data-mapbox-target="location" data-location-id="<%= location.id %>" class="card-blue-shadow mb-4 p-4">
  <small><%= location.location_type%></small>
  <%= render "locations/location_kind", location: location %>
  <h2><%= location.name %></h2>
  <p><%= location.address%></p>
  <% if location.contributions.present?%>
    <small class="text-success">Supplies Available</small>
    <% location.contributions.each do |contribution| %>
      <div class="contri-card-mint p-2 mt-2">
        <%= render "locations/supplies_kind", contribution: contribution %>
      </div>
      <p class="distance"></p>
    <%end%>
  <%else%>
    <div class="contri-card-grey p-1">
      <small class="text-muted">No Supplies Available</small>
    </div>
    <p class="distance"></p>
  <% end %>
  <% if location.location_type == "shelter" %>
    <p class="card-user-count"><i class="fas fa-male"></i> - <%= location.checkins.count %></p>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= link_to 'Get Direction', location_path(location), class:"btn btn-flat"%>
  </div>
</div>
