<div class="card-blue-shadow mb-4 p-4">
  <small>
    <%= location.location_type%></small>
  <h2><%= location.name %></h2>
  <p><%= location.address%></p>
  <%= link_to '', location_path(location), class: 'card-link' %>
</div>
<% if location.user == current_user %>
  <%= link_to location_path(location),
            class: "text-danger cards-delete-btn",
            method: :delete,
            data: { confirm: "Are you sure you would like to delete this location?" } do %>
    <i class="fas fa-times"></i>
  <% end %>
<% end %>
