<div data-mapbox-target="location" data-location-id="<%= location.id %>" class="card-blue-shadow mb-4 p-4">
  <small><%= location.location_type%></small>
  <h2><%= location.name %></h2>
  <p><%= location.address%></p>
  <% if location.contributions.present?%>
    <div class="contri-card p-2">
      <small class="text-success">Supplies Available</small>
      <% location.contributions.each do |contribution| %>
        <div class="contri-card-mint p-1 mt-1">
          <div class="d-flex flex-row">
            <small class="text-success"><strong><%= contribution.quantity ? contribution.quantity : 'Unknown' %></strong></small>
            &nbsp
            <small class="text-success"><strong><%= contribution.supply_type %></strong></small>
          </div>
          <p><%= contribution.description %></p>
        </div>
        <%= link_to '', location_path(location), class: 'card-link' %>
        <p class="distance"></p>
      <%end%>
    </div>
  <%else%>
    <div class="contri-card-grey p-1">
      <small class="text-muted">No Supplies Available</small>
    </div>
    <%= link_to '', location_path(location), class: 'card-link' %>
    <p class="distance"></p>
  <% end %>
  <%= raise %>
<% if location.location_type == "shelter" %>
<%= raise %>
    <p class="card-user-count"><i class="fas fa-male"></i> - <%= location.checkins.count %></p>
<% end %>
<%= raise %>
</div>
