<div class="container">
  <h1>Edit#location</h1>
  <%= simple_form_for(@location) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :location_type, collection: ['Contributor', 'NGO'] %>
    <%= f.submit %>
  <% end %>
</div>
