<div class="container">
  <div class="row justify-content-center mt-4 p-4">
    <div class="card-no-hover p-4">
      <h1 class="card-text-title text-primary text-center">New Location</h1>
      <p>Please register a new location in order to distribute supplies.
        You may add or edit the information later in the edit page.</p>
      <%= simple_form_for @location do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :tel %>
        <%= f.input :location_type, collection: ['ngo'], include_blank: false %>
        <%= f.simple_fields_for :contributions do |g| %>
          <%= g.input :supply_type, collection: ["Water", "Food", "Medicine", "Sanitation", "Others"],input_html: {class:"comment-box"}, include_blank: false %>
          <%#= g.input :supply_type, input_html: {class:"comment-box"} %>
          <%= g.input :description, input_html: {class:"comment-box"} %>
          <%= g.input :quantity, input_html: {class:"comment-box"} %>
        <% end %>
        <%= f.button :submit, "Add Contribution", class:"btn btn-flat" %>
      <% end %>
      <%#= link_to 'Check Contributions', location_path(@location), class:"btn btn-outline mt-2" %>
    </div>
  </div>
</div>
