<<<<<<< HEAD
<h1>Locations#new</h1>
<%= simple_form_for(@location) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :location_type, collection: ['contributor', 'ngo'] %>
  <%= f.submit %>
<% end %>
=======
<div class="container"></div>
  <div class="row justify-content-center mt-4 p-4">
    <div class="card-no-hover p-4">
      <h1 class="card-text-title text-primary text-center">Contribute</h1>
      <%= simple_form_for(@location) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :location_type, collection: ['contributor', 'ngo'] %>
        <%= f.button :submit, "New Contribution", class:"btn btn-flat" %>
      <% end %>
    </div>
  </div>
>>>>>>> 1099d8dd668969ac17f7a15e9d53172ed32de1d7
