<div class="container mt-4">
  <div class="text-center mb-2">
    <%= link_to 'All locations', locations_path, class:"btn btn-flat"  %>
    <%= link_to 'home', root_path, class:"btn btn-flat"  %>
  </div>
  <div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="card-no-hover p-4">
    <h1 class="text-shelter"><%= @location.location_type %></h1>
    <h1 class="card-text-title text-primary"><%= @location.name %></h1>
    <div class="contributions">
      <p class="mint-green-text">SUPPLIES AVAILABLE</p>
      <% @location_contributions.each do |contribution| %>
        <p><%= contribution.supply_type %></p>
        <p><%= contribution.description %></p>
        <small><%= contribution.quantity ? contribution.quantity : 'Unknown' %></small>
      <% end %>
      <div class="text-center">
        <%= link_to 'Add a contribution', new_location_contribution_path(@location), class:"btn btn-outline"  %>
      </div>
    </div>
  </div>
  <div class="card-no-hover mt-4 p-4">
    <div class="comments">
      <div class="messages">
        <% @comments.each do |comment| %>
          <small><%= comment.created_at %></small>
          <p id="comment-<%= comment.id %>"><i class="fas fa-angle-right"></i> <%= comment.content %></p>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= simple_form_for([@location, @comment], remote: true) do |f| %>
            <%= f.input :content, input_html: {class:"comment-box"}  %>
            <div class="text-center">
              <%= f.button :submit, "Add Comment", class:"btn btn-outline" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Edit your location', edit_location_path(@location)  %>
</div>
