<div class="container mt-4 px-4 mb-4"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-user-asset-value="<%= @user_asset.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-mapbox-user-id-value="<%= current_user&.id %>"
  data-mapbox-location-user-id-value="<%= @location.user_id %>">
  <div class="card-no-hover p-4 mb-4"
  data-mapbox-target="location"
  data-location-id="<%= @location.id %>">
    <h1 class="text-shelter"><%= @location.location_type %></h1>
    <%= render "locations/location_kind", location: @location %>
    <h1 class="card-text-title text-primary"><%= @location.name %></h1>
    <p><%= @location.address%></p>
    <% if @location.tel.present? %>
      <small><i class="fas fa-phone-alt"></i> - <strong><%= @location.tel %></strong></small>
    <% end %>
    <% if @location.contributions.present?%>
      <p class="mint-green-text">SUPPLIES AVAILABLE</p>
      <% @location_contributions.each do |contribution| %>
        <div class="contri-card-mint mt-2 p-2">
          <div class="d-flex flex-row">
            <small><strong><%= contribution.quantity ? contribution.quantity : 'Unknown' %></strong></small>
            &nbsp
            <small><strong><%= contribution.supply_type %></strong></small>
          </div>
          <p><%= contribution.description %></p>
        </div>
      <% end %>
    <%else%>
      <div class="contri-card-grey p-1">
        <small class="text-muted">NO SUPPLIES AVAILABLE</small>
      </div>
    <% end %>
    <div class="d-flex justify-content-center mt-2" data-controller="checkin">
      <% if user_signed_in? %>
        <% if @location.user_id != current_user.id %>
          <a class="btn btn-flat" href="#map-anchor" remote="true">See Route</a>
        <% end %>
        <% if @location.location_type == "shelter"%>
          <%= render "locations/checkin_btn", location: @location %>
          <%= render 'checkin_modal' %>
        <% end %>
      <% end %>
    </div>
    <div class="card-no-hover mt-4 p-4 mb-4">
      <div class="comments">
        <div class="messages">
          <% @comments.each do |comment| %>
            <p id="Notice-<%= comment.id %>"><i class="fas fa-angle-right"></i> <%= comment.content %></p>
            <small><%= comment.created_at.strftime("%m-%d-%Y %I:%M%p") %></small>
          <% end %>
        </div>
        <div>
          <% if user_signed_in? %>
            <% if @location.user_id == current_user.id %>
              <%= simple_form_for([@location, @comment], remote: true) do |f| %>
                <%= f.input :content, input_html: {class:"comment-box"}  %>
                <div class="text-center">
                  <%= f.button :submit, "Add Notice", class:"btn btn-flat" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if user_signed_in? && @location.user == current_user %>
      <%= link_to edit_location_path(@location), class: "text-decoration-none"  do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
    <p class="distance"></p>
    <% if @location.location_type == "shelter" %>
      <p class="card-user-count" data-checkin-target="count"><i class="fas fa-male"></i> <%= @location.checkins.count %></p>
    <% end %>
  </div>
  <div id="map-anchor" style="width: 100%; height: 500px; border-radius: 8px; box-shadow: 2px 2px 10px #d0e1ff;"
    data-mapbox-target="map">
  </div>
</div>
