<div class="container">
  <h1>Locations#show</h1>
  <%= @location.name %>
  <%= link_to 'All locations', locations_path  %>
  <%= link_to 'Edit your location', edit_location_path(@location)  %>
  <%= link_to 'home', root_path  %>
  <div>
    <%= simple_form_for [@location, @comment] do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>

  </div>
</div>
